<!-- 
<button routerLink=""></button>
<button routerLink="/home"></button>
<button routerLink="/home/summary"></button>
<button routerLink="/home/unit"></button>
http://themestarz.net/html/innovo/assets/img/background-coffee.jpg
[ngStyle]="{backgroundImage:'url(http://themestarz.net/html/innovo/assets/img/background-boat.jpg)'}"

-->

<div class="container">
    Welcome to BPCL
    <particles id="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</div>